html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*,
::before,
::after {
    box-sizing: border-box;
}

.container {
    padding: 2em;
    max-width: 75ch;
    margin: auto;
}

@media (prefers-color-scheme: dark) {
    body {
        background: #333;
        color: white;
    }
}